body {
  // background-color: #f0f0f0;
  background-color: #f2f4f6;
}

.empty {
  padding: 0 !important;

  &:not(:only-child) {
    display: none;
  }

  div {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;

    padding: 24px;
    margin-top: 2px;

    border-radius: 8px;

    background-color: #ffffff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);

    h2 {
      font-size: 18px;
      font-weight: 600;

      margin: 0 12px;
    }

    p {
      font-size: 14px;
      
      margin: 0 0 8px;
    }
  }
}

main {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 16px;

  // position: relative;

  > * {
    position: relative;
  }
}

.pageHeader {
  width: 100%;
  height: 200px;

  padding: 24px;
  margin: 24px 0 12px;

  border-radius: 8px;

  background-color: #00264f;
  color: #fff;

  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: flex-end;

  h1 {
    margin: 0;
  }

  p {
    margin-top: 0.5em;
    margin-bottom: 0;
  }
}

.appbar {
  position: sticky;
  z-index: 15;

  top: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;

  height: 56px;

  background-color: #fff;

  // border-bottom: solid 1px rgb(220, 220, 220);

  transition: box-shadow 135ms ease;
  
  .scrolled & {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  }

  > div {
    width: 100%;
    max-width: 800px;
    display: flex;
    padding: 0 16px;

    > section {
      display: flex;
      align-items: center;

      flex: 1;

      &:nth-child(2) {
        justify-content: center;
      }

      button {
        position: relative;

        height: 100%;
        padding: 0 20px;

        background-color: transparent;
        border: none;
        border-top: solid 2px transparent;

        font-size: 14px;
        font-weight: 500;

        color: #666;

        cursor: pointer;

        &:hover {
          background-color: #eee;
          color: #444;
        }

        &[data-state="active"] {
          color: #00264f;
          background-color: rgb(#00264f, 0.05) !important;
          overflow: hidden;

          border-top-color: #00264f;

          cursor: default;

          // &:hover {
          //   background-color: #e6e9ed !important;
          // }

          // &::after {
          //   content: "";
          //   position: absolute;

          //   top: -4px;
          //   left: 50%;

          //   transform: translate(-50%);

          //   height: 8px;
          //   width: 36px;

          //   border-radius: 99px;

          //   background-color: #00264f;
          // }
        }
      }
    }
  }
}

.addField {
  width: 100%;

  top: calc(100vh - 50px - 20px);
  // bottom: -20px;

  height: 50px;
  padding: 0 16px;

  margin-bottom: 12px;

  // border: solid 1px rgb(220, 220, 220);
  border-radius: 6px;

  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  background-color: #fff;

  display: flex;
  align-items: center;

  input {
    outline: none;

    height: 100%;
    min-width: 0;

    background-color: transparent;
    border: none;

    font-size: 16px;

    &:first-of-type {
      flex: 2;
      margin-left: 12px;
    }

    &:last-of-type {
      flex: 1;
    }
  }

  .sendButton {
    background-color: transparent;
    border: none;

    font-size: 14px;
    font-weight: 700;
    color: #00264f;
  }

  &:focus-within {
    border-color: #00264f;
    box-shadow: inset 0 0 0 2px #00264f, 0 2px 3px rgba(0, 0, 0, 0.1);
  }
}

.table {
  // border-radius: 6px;
  // border: solid 1px rgb(220, 220, 220);

  margin-bottom: 12px;

  table {
    width: 100%;
    border-collapse: collapse;

    thead, tfoot {
      font-weight: 700;

      td {
        // padding: 0;

        font-size: 12px;
        font-weight: 500;
        color: rgb(100, 100, 100);
      }
    }

    tbody tr {
      height: 48px;
      position: relative;
      padding-bottom: 2px;

      &::after {
        content: "";
        position: absolute;

        background-color: #fff;

        // border: solid 1px rgb(220, 220, 220);
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
        border-radius: 6px;

        height: 44px;

        top: 2px;
        left: 0;
        right: 0;

        z-index: -1;
      }
    }

    td {
      padding: 0 8px;

      &:first-of-type {
        padding: 0 8px 0 16px;
      }

      &:last-of-type {
        padding: 0 8px 0 0;
      }
    }

    tfoot {
      tr {
        // border-bottom: none !important;
        // font-size: 12px;
      }
      
      td {
        padding-top: 6px;
        font-size: 14px;
      }

      td:nth-child(2) {
        text-align: right;
      }

      button {
        float: right;
      }
    }
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 37px;
  padding: 0 24px;

  border: none;
  border-radius: 99px;

  font-size: 14px;
  font-weight: 700;

  transition: background-color 85ms ease;

  cursor: pointer;

  &.text {
    background-color: transparent;
    color: #00264f;

    &:hover, &:focus {
      background-color: rgba(#00264f, 0.08);
    }

    &:active {
      background-color: rgba(#00264f, 0.15);
      transition-duration: 0ms !important;
    }
  }

  &.cta {
    background-color: #00264f;
    color: #fff;

    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);

    &:hover {
      background-color: rgba(#00264f, 0.88);
    }

    &:active {
      background-color: rgba(#00264f, 0.8);
      transition-duration: 0ms !important;
    }
  }
}

.label {
  font-size: 12px;
  font-weight: 500;

  color: rgb(100, 100, 100);
}

.field {
  display: flex;
  align-items: center;

  margin-bottom: 8px;

  label {
    flex: 3;
  }

  div {
    display: flex;
    align-items: center;

    flex: 2;

    height: 36px;
    padding: 0 16px;

    border-radius: 6px;
    border: none;

    background-color: #ffffff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);

    font-size: 14px;

    input {
      flex: 1;

      font-size: 14px;

      outline: none;
      height: 100%;
      background-color: transparent;
      border: none;
    }

    &:focus-within {
      box-shadow: inset 0 0 0 2px #00264f, 0 2px 3px rgba(0, 0, 0, 0.1);
    }
  }

  &.readonly div {
    background-color: rgba(255, 255, 255, 0.5) !important;
    color: rgba(0, 0, 0, 0.65) !important;
    box-shadow: none !important;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;

  background-color: transparent;
  border: none;

  color: rgb(80, 80, 80);

  svg {
    fill: currentColor;
  }

  &:hover {
    cursor: pointer;
  }

  &.primary:hover {
    color: #0669a3;
  }

  &.destructive:hover {
    color: #a30606;
  }
}

@media screen and (max-width: 600px) {
  .appbar section:nth-child(2) {
    justify-content: flex-end !important;
  }

  .appbar section:nth-child(3) {
    display: none;
  }

  .addField {
    position: fixed;

    top: unset;
    left: 0;
    right: 0;
    bottom: 0;

    margin-bottom: 0;

    height: unset;
    padding: 16px 16px 32px;

    border-radius: 0;
    
    box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.1) !important;
  }

  .field label {
    display: block;
    font-size: 14px;
  }

  .field div, .field input {
    width: auto;
    min-width: 0;
  }

  .field > * {
    flex: 1 !important;
  }
}
